@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 20vh;
}

nav {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.logo {
    width: 150px;
    margin:0 auto 20px auto;
    cursor: pointer;
    font-size: 3rem;
    color:cornflowerblue;
    font-family: 'Ink Free', sans-serif;
}

nav ul {
    background-color: #00c3ff;
    list-style: none;
    width: 100%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    width: 120px;
    margin: 0 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all 0.2s;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav.sticky {
    position: fixed;
    left: 0;
    top: 0;
    background: #00c3ff;
    justify-content: center;
    align-content: center;
    transition: 0.6s;
}

nav.sticky ul {
    background-color: transparent;
}

.active,
.header ul li:hover {
    background-color: #008ab4;
}

.subMenu-1 {
    position: absolute;
    background-color: #00c3ff;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

nav ul li:hover .subMenu-1 {
    display: block;
}

nav ul li:hover .subMenu-1 ul li {
    display: block;
    width: 140px;
    border-bottom: 1px dotted white;
}

nav ul li:hover .subMenu-1 ul li:last-child {
    border: none;
}

.subMenu-1 {
    position: absolute;
    background-color: #00c3ff;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

nav ul li:hover .subMenu-1 {
    display: block;
}

nav ul li:hover .subMenu-1 ul li {
    display: block;
    width: 140px;
    border-bottom: 1px dotted white;
}

nav ul li:hover .subMenu-1 ul li:last-child {
    border: none;
}

.table-title {
    font-family: Ink Free, sans-serif;
    color:#00c3ff;
}

.role-title {
    text-align: center;
    font-size: 50px;
}

.roles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(56, 73, 99);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imp {
    color:rgb(218, 0,0);
}

.crew {
    color:rgb(140, 255, 255);
}

.neu {
    color:gray;
}

.mod {
    color: rgb(253, 127, 1);
}

.oth {
    color:rgb(255, 0, 1);
}

.crew-sidebar,
.imp-sidebar,
.neu-sidebar,
.mod-sidebar,
.oth-sidebar {
    position: fixed;
    left: 0px;
    background-color:rgb(100, 200, 200);
    width: 250px;
    height: 100%;
    transition: all 0.5s;
}

.crew-sidebar header,
.imp-sidebar header,
.neu-sidebar header,
.mod-sidebar header,
.oth-sidebar header {
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(140, 255, 255);
    user-select: none;
}

.crew-sidebar ul a {
    display: block;
    width: 100%;
    line-height: 22px;
    color:blue;
    font-size: 20px;
    padding-left: 20px;
    transition: 0.1s;
}

ul li:hover a {
    padding-left: 0px;
}

.imp-sidebar ul a {
    display: block;
    width: 100%;
    line-height: 22px;
    color:rgb(255, 25, 25);
    font-size: 20px;
    padding-left: 20px;
    transition: 0.1s;
}

ul li:hover a {
    padding-left: 0px;
}

.neu-sidebar ul a {
    display: block;
    width: 100%;
    line-height: 22px;
    color:rgb(132, 132, 132);
    font-size: 20px;
    padding-left: 20px;
    transition: 0.1s;
}

ul li:hover a {
    padding-left: 0px;
}

.mod-sidebar ul a {
    display: block;
    width: 100%;
    line-height: 22px;
    color:rgb(255, 128, 1);
    font-size: 20px;
    padding-left: 20px;
    transition: 0.1s;
}

ul li:hover a {
    padding-left: 0px;
}

.oth-sidebar ul a {
    display: block;
    width: 100%;
    line-height: 22px;
    color:rgb(255, 91, 112);
    font-size: 20px;
    padding-left: 20px;
    transition: 0.1s;
}

ul li:hover a {
    padding-left: 0px;
}

.role-description,
.impostor {
    font-size: 20px;
    text-align: center;
    background-color: rgb(180, 180, 180);
}

.crew-description {
    font-size: 50px;
    text-align: center;
}

.other-description {
    font-size: 50px;
    text-align: center;
}

.modifier-description {
    font-size: 50px;
    text-align: center;
}

.impostor-title2 {
    font-size: 120px;
    color:rgb(255, 25, 25);
}

.imp-description {
    font-size: 45px;
    text-align: center;
}

.neutral-gray {
    color:rgb(132, 132, 132);
}

.modifier-orange {
    color:rgb(255, 128, 1);
}

.crewmate {
    font-size: 120px;
    color:rgb(140, 255, 255);
}

.neutral {
    font-size: 120px;
    color:rgb(132, 132, 132);
}

.other {
    font-size: 120px;
    color:rgb(255, 91, 112);
}

.modifier {
    font-size: 120px;
    color:rgb(255, 128, 1);
}

.nice-guesser-title {
    color: rgb(255,255,0);
}

.detective-title {
    color: rgb(45, 106, 165);
}

.engineer-title {
    color:rgb(0, 40, 245);
}

.hacker-title {
    color: rgb(117, 250, 76);
}

.lighter-title {
    color:rgb(238, 229, 190);
}

.mayor-title {
    color:rgb(32, 77, 66);
}

.medic-title {
    color:rgb(126, 251, 194);
}

.keibi-title {
    color:rgb(195, 178, 95);
}

.seer-title {
    color:rgb(97, 178, 108);
}

.sheriff-title {
    color:rgb(248, 205, 70);
}

.shifter-title {
    color:rgb(102, 102, 102);
}

.snitch-title {
    color:rgb(184, 251, 79);
}

.nice-swapper-title {
    color:rgb(134, 55, 86);
}

.time-master-title {
    color:rgb(112, 142, 239);
}

.tracker-title {
    color:rgb(100, 58, 220);
}

.bait-title {
    color:rgb(0, 247, 255);
}

.medium-title {
    color:rgb(98, 120, 115);
}

.uranai-title {
    color:rgb(175, 198, 241);
}

.sprinter-title {
    color:rgb(128, 128, 255);
}

.chuni-title {
    color:yellow;
}

.portal-title {
    color:rgb(69, 69, 169);
}

.yakuza-title {
    color:rgb(46, 84, 245);
}

.impostor-title,
.imp-red {
    color:rgb(255, 25, 25);
}

.arsonist-title {
    color:rgb(238, 112, 46);
}

.jester-title {
    color:rgb(236, 98, 165);
}

.jackal-title {
    color:rgb(0, 180, 235);
}

.lovers-title {
    color:rgb(232, 57, 185);
}

.vulture-title {
    color:rgb(139, 69, 19);
}

.lawyer-title {
    color:rgb(134, 153, 25);
}

.chain-shifter-title {
    color:rgb(102, 102, 102);
}

.pest-doc-title {
    color:rgb(255, 192, 0);
}

.fox-imo-title {
    color:rgb(167, 87, 168);
}

.oppotinist-title {
    color:rgb(0, 255, 0);
}

.mini-title {
    color:white;
}

.anti-teleport-title {
    color:orange;
}

.watcher-title {
    color:purple;
}

.sunglasses-title {
    color:rgb(119, 136, 153);
}

.gm-title {
    color:rgb(255, 91, 112);
}